html {
  background-color: #fff;
  font-family: Merriweather Sans;
  color: #333333;
}
#main {
  margin-top: 20px;
  background-color: #eeeeee;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

#img-div {
  background-color: #fff;
  margin: 10px 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#image {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
}

#tribute-info {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  text-indent: -59px;
}

li {
  margin-top: 10px;
}

.bold__text {
  font-weight: 600;
}

#title {
  font-weight: 700;
}

#img-caption {
  padding: 10px;
}

.year {
  display: inline-block;
}
.info {
  display: inline-block;
  vertical-align: top;
}

.Quote {
  width: 50%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  text-indent: -10px;
}

.Quote__author {
  text-align: left;
}
